<p id="notice"><%= notice %></p>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="../assets/clientes.scss">
    </head>
    <body>
        <div class="jumbotron text-center fondo">
                <h1>Clientes</h1>
                    <p>Ruby on Rails</p> 
        </div>

        <table class="table ">
          <thead>
            <tr>
              <th>RFC</th>
              <th>NOMBRE DEL CLIENTE</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @clientes.each do |cliente| %>
              <tr>
                <td><%= cliente.rfc %></td>
                <td><%= cliente.nom_cliente %></td>
                <td><%= link_to 'Mostrar', cliente ,class: 'btn btn-primary btn-xs tbtn'%></td>
                <td><%= link_to 'Editar', edit_cliente_path(cliente) , class: 'btn btn-info btn-xs tbtn' %></td>
                <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Estas seguro?' } , class: 'btn btn-danger btn-xs tbtn'%></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <div class=menu>
      <%= link_to 'Registrar nuevo', new_cliente_path, class: 'btn btn-success .btn-lg btns'  %>
      </div>
    </body>
  <html>